<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Учасники змагань</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-app = "kursova">
<div  style="margin-top: 30px" ng-controller = "AppCtrl as ctrl" ><!--class="container"-->
    <!--<div class="row">
        <div class="col-md12">-->
    <div class="container-fluid"><!--<div class="panel panel-default">-->
        <div class="panel-heading"> Учасники змагань </div>
        <div class="datagrid">

            <table ><!--class="table table-striped"-->
                <thead>
                <tr>
                    <th width="40px">Id</th>
                    <!--<th>Id спорстмена</th>
                    <th>Id змагання</th>-->
                    <th>Спорстмен</th>
                    <th>Змагання</th>
                    <th>Призове місце</th>

                    <th width="80px" style="padding-left: 9px">
                        <button type="button" class="btn-success" data-toggle="modal" data-target="#addModal"
                                style="width: 60px;cursor:pointer" ng-click="ctrl.start_insert_sportsman_competition()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat = "item in sportsman_competition">
                    <td>{{item.id}}</td>
                    <!--<td>{{item.sportsman.id}}</td>
                    <td>{{item.competition.id}}</td>-->
                    <td>{{item.sportsman.name}}</td>
                    <td>{{item.competition.name}}</td>
                    <td>{{item.prizePlace}}</td>
                    <td style="padding-left: 8px">
                        <!--<button ng-click="ctrl.del_kind_of_sport(item.id)">Видалити</button>-->
                        <button type="button" class="btn-warning" data-toggle="modal" data-target="#updateModal"
                                ng-click="ctrl.start_update_sportsman_competition(item.id
                                        ,item.sportsman.name,item.competition.name
                                        ,item.prizePlace)"
                                style="width: 30px; cursor:pointer">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn-danger"
                                ng-click="ctrl.del_sportsman_competition(item.id)"
                                style="width: 30px;cursor:pointer">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <!--<button class="btn-del">x</button>-->
                    </td>
                </tbody>

            </table>
        </div>

        <!--додавання -->
        <div  class="modal fade"id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
              aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Додавання запису</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        Спортсмен
                        <br>
                        <select  id="Sportsman"><!--style="width:470px"-->
                        </select>
                        <br>
                        Змагання
                        <br>
                        <select style="width:470px" id="Competition">
                        </select>
                        <br>
                        Призове місце
                        <br>
                        <input type="text" id="PrizePlace">
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal">Закрити</button>
                        <button type="button"  ng-click="ctrl.insert_sportsman_competition()">Додати</button>
                    </div>
                </div>
            </div>
        </div>

        <!--редагування-->
        <div class="modal fade" id="updateModal" tabindex="-2" role="dialog" aria-labelledby="updateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Редагування запису</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Спортсмен
                        <br>
                        <select  id="SportsmanUPD"><!--style="width:470px"-->
                        </select>
                        <br>
                        Змагання
                        <br>
                        <select style="width:470px" id="CompetitionUPD">
                        </select>
                        <br>
                        Призове місце
                        <br>
                        <input type="text" id="PrizePlaceUPD">
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                data-dismiss="modal">Закрити</button>
                        <button type="button"
                                ng-click="ctrl.update_sportsman_competition()">Змінити</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!--  </div>
  </div>-->
</div>
</body>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/sportsman_competition.js"></script>



<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
</html>